<div class="cbar">
  <form class="form-inline" [ngFormOptions]="{ updateOn: 'submit' }" (ngSubmit)="onSearchTime(tForm)" #tForm="ngForm">
      <div class="form-group">
        <label for="timeFrame">Time Frame:</label>
        <div class="select">
            <select id="timeFrame" [ngModel]="1" name="timeFrame" >
                <option value="1">Yesterday</option>
                <option value="7">7 Days Ago</option>
                <option value="30">30 Days Ago</option>
            </select>
            <div class="select_arrow">
            </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary ">Search</button>
  </form>
</div>

