  <div *ngIf="dataLoaded">
      <form class="float-right" id="resetForm">
          <button type="button" class="btn btn-primary" (click)="resetToAll($event)">Return to All Users</button>
      </form>
      <h3>
         Workload Report for {{reportDate}}  <span>
              &gt; {{rows[0].user_name}}
          </span>
      </h3>
  </div>

  <div *ngIf="!dataLoaded">
          <div class="container">
             <div class="row">
                <div class="col-md-12 text-center">
                  <img src="/assets/ajax-loader.gif" alt="Loading"><br>
                  Please wait
                </div>
             </div>
          </div>
        </div>

    <div id="chartcontainer">
      <div id="chartdiv"></div>
    </div>

    <div *ngIf="dataLoaded">
        <ngx-datatable
            #myTable
            class='material ngx-datatable striped'
            [rows]='rows'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [scrollbarV]="false"
           >
           <ngx-datatable-column name="Time" prop="end_date"></ngx-datatable-column>
           <ngx-datatable-column name="Workload" prop="rank_score"></ngx-datatable-column>
           <ngx-datatable-column name="CPU Used" prop="cpu_used_mhz"></ngx-datatable-column>
           <ngx-datatable-column name="RAM Used"  prop="memory_used_mb"></ngx-datatable-column>
           <ngx-datatable-column name="Page File Used" prop="page_used_mb"></ngx-datatable-column>
           <ngx-datatable-column name="Total IO" prop="total_io_bps"></ngx-datatable-column>
           <ngx-datatable-column name="Total IOPS" prop="total_iops"></ngx-datatable-column>
        </ngx-datatable>

        <form class="float-right" id="resetForm2">
            <button type="button" class="btn btn-primary mt-0 mb-4" (click)="resetToAll($event)">Return to All Users</button>
        </form>
  </div>

